* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
    background-color: lightsteelblue;
    background-image: url("../images/bgtile.jpg");
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: 3px solid steelblue;
    background-color: white;
    box-shadow: 5px 10px 8px 10px #888888;
}
h1, h2, h3, p, blockquote {
    margin-bottom: 12px;
}
header {
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
}

header h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 5px 5px 12px steelblue;
}

#logoimage{
    float: left;
    margin-right: 1.5em;
}


main {
    padding: 1em;
    clear: both;
}
main h1 {
    font-size: 300%;
    color: lightsteelblue;
    text-align: center;
    margin: 10px 0 0;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000, 1 -1px 2px #000000, -1px 1px 2px #000000;
}
aside {
    width: 30%;
}

/*horizontal flexbox navigation menu -- single tier on midterm*/
#nav_menu{
    position: sticky;
    top: 0;
}
.container {
    display: flex;
    list-style: none;
    background-color: steelblue;
    position: relative;
}
.container li{
    flex: 1;
}
.container li a {
    display: block;
    padding: .75em 0em;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 1s;
}
.container li a:hover {
    background-color: lightsteelblue;
    color: black;
}
/* 2 tier stuff*/
.container ul {
    display: none;
    background-color: steelblue;
    width: 20%;
    list-style: none;
    position: absolute;
    top: 100%;
}
.container ul li {
    flex-direction: column;
}
.container ul li a{
    text-align: left;
    padding-left: 1em;
}
.container li:hover > ul {
    display: block;
}



/* vertical nav list*/
#nav_list{
    padding-right: .5em;
}
#nav_list h2{
    margin-bottom: 5px;
    text-align: center;
}
#nav_list ul{
    list-style: none;
    margin-left: 0;
}
#nav_list ul li{
    width: 90%;
    margin: 0 auto .5em;
    margin-left: 0;
}
#nav_list ul li a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: .5em 0 .5em .5em;
    margin: .5em;
    color: black;
    border-radius: 25px;
    transition: all 1s;
}
#nav_list ul li a:hover{
    color: white;
    background-color: steelblue;
    padding: .5em 0 .5em 1.5em
}

section {
    width: 40%;
    float: left;
    padding-left: 1.5em;
    padding-right: 5px;
}
#leftaside{
    float: left;
}
#rightaside{
    margin-top: 0;
    float: right;
    padding-left: 5px;
}
blockquote {
    width: 80%;
    margin: 1em auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    font-style: italic;
    padding: 1em;
    border-left: 3px solid steelblue;
    background-color: #eeeeee;
    border-radius: 5px;
}
h3 {
    font-size: 150%;
}
aside a {
    text-decoration: none;
}
section a:link, section a:visited {
    color:maroon;
}
section a:hover, section a:active {
    color:steelblue;
}
aside a:link, aside a:visited {
    color:steelblue;
}
aside a:hover, aside a:active {
    color:maroon;
}

aside ul {
    margin: 1em;
    width: 120%;
}

aside li {
    font-weight: bold;
}

footer {
    clear: both;
    background-color: steelblue;
    padding: 1em 0px;
    margin-top: 15px;
}

footer p {
    color: white; 
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}
/*hide the mobilemenu*/
#mobilemenu {
    display: none;
}

/*media queries*/
@media only screen and (max-width: 900px) {
    body {
      box-shadow: none;
      font-size: 90%;
    }
    #leftaside {
        display: none;
    }
    section{
        width: 70%;
        padding-left: 1em;
    }
 }
@media only screen and (max-width: 767px) {
    #nav_menu{
        display: none;
    }
    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: steelblue !important;
    }
    header h2 {
        font-size: 200%;
    }
    h1 {
        font-size: 200%;
    }
    section, aside {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding: .5em;
    }
    aside ul li {
        padding-right: 1.2em;
    }
    #logoimage {
        float: none;
        padding: .5em;
        display: block;
        margin: 0 auto;
    }
    header h2, header h3 {
        text-align: center;
    }
 }
